.header
  &__wrapper
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 48px
    color:#333333
    
  &__logo
    display: flex
    align-items: center
    font-weight: 600
    font-size: 28px
    margin: 0 114px 0 0
    text-decoration: none
  &__label
      margin-left: 20px
      color: #333333
  &__menu
    margin: 0 138px 0 0
    display: flex
    justify-content: space-between
    align-items: center
  &__list
    display: flex
    justify-content: space-between
    align-items: center
    margin: 0
    padding: 0
    font-weight: 500
    font-size: 23px
    
    list-style-type: none
    white-space: nowrap
  &__item:not(:last-of-type)
    margin-right: 40px
  &__link
    text-decoration: none
    color: inherit
  .social-link
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0
    margin: 0
    list-style-type: none
  .social-item:not(:last-of-type)
      margin: 0 28px 0 0